body{
font-family: Arial;
background:#f4f6fa;
margin:0;
}

.container{
width:85%;
margin:auto;
padding:20px;
}

h1{
text-align:center;
}

.card{
background:white;
padding:15px;
margin:15px 0;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
padding:10px;
margin:5px;
}

button{
padding:10px 15px;
background:#007bff;
color:white;
border:none;
cursor:pointer;
border-radius:5px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:10px;
text-align:center;
}